body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(111, 111, 111);
  }
  
  .stopwatch {
    margin-top: 50px;
  }
  
  #display {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  h1{
    color: rgb(0, 179, 244);
  }
  
  button:hover {
    background-color: lightgray;
  }
  
  #laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  